<div class="page">
    <div id="headerContainer">
      <header id="main">
        <div id="headerLeft">
          <a href="#" id="mainLogo"><%= image_tag "logo.png" %></a>
          <input type="search" placeholder="search" />
        </div>
        <div id="headerMenu">
          <div id="dashboard" class="left">
            <div class="left"></div>
            <a href="#">Dashboard</a>
          </div>
          <div id="notiMenu" class="left">
            <div class="left"></div>
            <a href="#">Notifications</a>
          </div>
          <div id="createNewMenu" class="left">
            <div class="left"></div>
            <a href="#">Create New</a>
          </div>
          <div id="userMenu">
            <a href="#"><%= image_tag "rails.png", :class => "left" %> Morteza Heydari</a>
            <ul id="userDrop">
              <li>
                <div id="editProfile" class="left">
                  <div class="left"></div>
                  <a href="#">Edit Profile</a>
                </div>
              </li>
              <li>
                <div id="manageOffering" class="left">
                  <div class="left"></div>
                  <a href="#">Manage Offerings</a>
                </div>
              </li>
              <hr>
              <li><a href="#" id="signOutTop">Sign out</a></li>
            </ul>
          </div>

        </div>

      </header>
    </div>
    
    

  <div class="dashboard">
    <div class="topText">
      <span>Dashboard</span>
      <a href="#" id="editIntrest">Edit Intrest</a>
    </div>


    <div class="intrestCat">
      <h1>Intrested Categories</h1>
      <div class="Categories">
        <div class="left">
          <div class="BallSports"></div>
          <span>Ball Sports</span>
        </div>
        <div class="left">
          <div class="Fitness"></div>
          <span>Fitness</span>
        </div>
        <div class="left">
          <div class="WaterSports"></div>
          <span>Water Sports</span>
        </div>
        <div class="left">
          <div class="Other"></div>
          <span>Other</span>
        </div>
      </div>
      <div class="sportSelect">
        <div>
          <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label><br>
          <span>Soccer</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-2" class="regular-checkbox" /><label for="checkbox-1-2"></label><br>
          <span>Basketball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-3" class="regular-checkbox" /><label for="checkbox-1-3"></label><br>
          <span>Volleyball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-4" class="regular-checkbox" /><label for="checkbox-1-4"></label><br>
          <span>Baseball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-5" class="regular-checkbox" /><label for="checkbox-1-5"></label><br>
          <span>Foosball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-6" class="regular-checkbox" /><label for="checkbox-1-6"></label><br>
          <span>Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-7" class="regular-checkbox" /><label for="checkbox-1-7"></label><br>
          <span>Squash</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-8" class="regular-checkbox" /><label for="checkbox-1-8"></label><br>
          <span>Table Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-9" class="regular-checkbox" /><label for="checkbox-1-9"></label><br>
          <span>Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-10" class="regular-checkbox" /><label for="checkbox-1-10"></label><br>
          <span>Water Polo</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-11" class="regular-checkbox" /><label for="checkbox-1-11"></label><br>
          <span>Marathon</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-12" class="regular-checkbox" /><label for="checkbox-1-12"></label><br>
          <span>Wrestling</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-13" class="regular-checkbox" /><label for="checkbox-1-13"></label><br>
          <span>Boxing</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-14" class="regular-checkbox" /><label for="checkbox-1-14"></label><br>
          <span>Karate</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-15" class="regular-checkbox" /><label for="checkbox-1-15"></label><br>
          <span>Judo</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-16" class="regular-checkbox" /><label for="checkbox-1-16"></label><br>
          <span>Kung Fu</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-17" class="regular-checkbox" /><label for="checkbox-1-17"></label><br>
          <span>Marathon</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-18" class="regular-checkbox" /><label for="checkbox-1-18"></label><br>
          <span>Wrestling</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-19" class="regular-checkbox" /><label for="checkbox-1-19"></label><br>
          <span>Boxing</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-20" class="regular-checkbox" /><label for="checkbox-1-20"></label><br>
          <span>Karate</span>
        </div>
      </div>
      <div class="intrestFooter">
        <a href="#" class="button blue">Save</a>
      </div>
    </div>
  </div>


  <div class="body">
    <div class="cards">

      <% i = 0
         while i<6 do %>
          <article class="activityBox">
            <header class="activityHeader">
              <a href="#">
                <%= image_tag "bg.png", class: "activityImage" %>
              </a>
              <h5 class="activityTitle text-left">
                <a href="#">The maximum words available okay</a>
              </h5>
              <p class="text-left">Cross Country Running</p>
            </header>

            <div class="activityBody text-center">
              <ul class="block-grid three-up">
                <li><%= image_tag "1.png" %></li>
                <li><div class="thumbsUp"></div> <span class="small-text">22</span> </li>
                <li><div class="featureStar"></div> </li>
              </ul>

            </div>
          </article>

      <% i = i + 1
         end %>
    </div>

    <div class="sideBar">

      <div class="sideBox">
        <div class="sideTitle">Your Upcoming Events</div>
        <hr>
        <div class="sideEvents">
          <a href="#">Jetski Race &amp; Race</a><br>
          <span>August 23</span><br>
          <span>5:00pm-7:00pm</span>
        </div>
        <hr>
        <div class="sideEvents">
          <a href="#">Jetski Race &amp; Race</a><br>
          <span>August 23</span><br>
          <span>5:00pm-7:00pm</span>
        </div>
        <hr>
        <div class="sideEvents">
          <a href="#">Jetski Race &amp; Race</a><br>
          <span>August 23</span><br>
          <span>5:00pm-7:00pm</span>
        </div>
      </div>
      

      <div class="sideBox">
        <div class="sideTitle">Activity</div>
        <hr>
        <div class="sideActivity">
          <div></div>
          <a href="#">Morteza Heydari</a>
          <p> is now following Bader Al-bader</p><br>
          <span>20 minutes ago</span>
        </div>
        <div class="sideActivity">
          <div></div>
          <a href="#">Morteza Heydari</a>
          <p> is now participating in Football Class</p><br>
          <span>1 hour ago</span>
        </div>
        <div class="sideActivity">
          <div></div>
          <a href="#">Felan Al-Felani</a>
          <p> is now following you</p><br>
          <span>2 hour ago</span>
        </div>
        <div class="sideActivity">
          <div></div>
          <a href="#">Felan Al-Felani</a>
          <p> is challenging you</p><br>
          <span>3 hour ago</span>
        </div>
                <div class="sideActivity">
          <div></div>
          <a href="#">Morteza Heydari</a>
          <p> is now participating in Football Class</p><br>
          <span>1 hour ago</span>
        </div>
        <div class="sideActivity">
          <div></div>
          <a href="#">Felan Al-Felani</a>
          <p> is now following you</p><br>
          <span>2 hour ago</span>
        </div>
        <div class="sideActivity">
          <div></div>
          <a href="#">Felan Al-Felani</a>
          <p> is challenging you</p><br>
          <span>3 hour ago</span>
        </div>
      </div>
    </div>
  </div>


</div>