@import "compass";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";





// variables declaration

$objBg: #f5f5f5;
$TextColor: #666666;
$boxPadding: 10px;
$linkColor: #159fa4;

$grey: #E6E6E6;
$timePassedGrey: #B3B3B3;


$NavTextColor: #666666;
$NavTextColorHover: #666666;
$NavHeight: 35px;
$FontFamily: "Helvetica Neue", helvetica;
$navHoverBorder: #d3d3d3;


$buttonColor: #ffffff;
$buttonBg: #159fa4;
$buttonColorHover: #159fa4;
$buttonBgHover: #ffffff;


/* end of variables declaration */ 


// start of shared styles




.small-text {
  font-size: 10px;
  position: relative;
  top: -2px;
  color: $timePassedGrey;
}

.text-left { text-align: left; }  
.text-right { text-align: right; } 
.text-center { text-align: center; }

.left {
  float: left;
}

.right {
  float: right;
}


.button {
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  @include transition-property(all);
  @include transition-duration(0.1s);
  @include transition-timing-function(linear);
  @include border-radius(5px);
}


.blue {
  @extend button;
  background: $buttonBg;
  color: $buttonColor;
  &:hover {
    background: $grey;
    color: $TextColor;
  }
  &:active {
    background: $TextColor;
    color: $grey;
  }
}


.event {
	display:table;
	height:100%;
	background:$objBg;
	width:100%;
}




.grey {
  background: $grey;
  color: $TextColor;
  border: 1px solid $TextColor;
  &:hover {
    background: $TextColor;
    color: $grey;
    border: 1px solid $grey;
  }
}



div.BallSports {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -50px 0px;
  border: none;
  width: 50px;
  height: 50px;
  &:hover {
    background-position: -50px -50px;
  }
  &:active {
    background-position: -50px -100px;
  }
}
div.Fitness {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -100px 0px;
  border: none;
  width: 50px;
  height: 50px;
  &:hover {
    background-position: -100px -50px;
  }
  &:active {
    background-position: -100px -100px;
  }
}
div.WaterSports {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -150px 0px;
  border: none;
  width: 50px;
  height: 50px;
  &:hover {
    background-position: -150px -50px;
  }
  &:active {
    background-position: -150px -100px;
  }
}
div.Other {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -200px 0px;
  border: none;
  width: 50px;
  height: 50px;
  &:hover {
    background-position: -200px -50px;
  }
  &:active {
    background-position: -200px -100px;
  }
}

// end of shared styles

// mixin declaration

@mixin SideText {
  a {
    color: $linkColor;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

  }
  span {
    color: $TextColor;
    font-size: 11px;
    padding: 0;
  }
}

// end of mixin declaration

/* End of declarations */


@import "home";
@import "user";